:root {
  --vp-c-brand-1: #8110d3;
  --vp-c-brand-2: #8110d3;
  --vp-c-brand-3: #8110d3;
  --vp-c-brand-soft: rgba(129, 16, 211, 0.14);
}

.dark {
  --vp-c-brand-1: #a855f7;
  --vp-c-brand-2: #8110d3;
  --vp-c-brand-3: #6d0fb8;
  --vp-c-brand-soft: rgba(129, 16, 211, 0.16);
}
